<div class="overflow-auto" align="center" style="height:85vh">
    <div style=" padding-top: 20px">
        <h4>Todo List</h4>

        <h6>Hello <i>{{user}}!</i> Please procced to manage your tasks.</h6>



        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label><h6>ID: </h6></label>
                <input type="number" readonly class="form-control" value="{{itemId}}"
                    style="margin-left:5px;width:50px">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label><h6>Task: </h6></label>
                <input #title (keyup.enter)="addTodo(title.value,date.value)" type="text" class="form-control" placeholder="Task title" style="margin-left:5px">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label><h6>Due Date: </h6></label>
                <input #date (keyup.enter)="addTodo(title.value,date.value)" type="date" class="form-control" placeholder="Date" style="margin-left:5px">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label class="sr-only">Submit </label>
                <input (click)="addTodo(title.value,date.value)" type="button" class="btn btn-light"
                    value="Add Task" />
                <input (click)="Exit()" type="button" class="btn btn-dark btnSeccion" value="Exit"
                    style="margin-left:15px" />
            </div>
        </form>
    </div>
    <div>
        <div>
            <app-todo-item *ngFor="let item of todoList" [item]="item" (deleteEvent)="deleteTodo($event)"
                (toggleEvent)="toggleTodo($event)" (upEvent)="upTodo($event)" (downEvent)="downTodo($event)">
            </app-todo-item>

        </div>
    </div>
</div>